/** Taylor Zweigle, 2024 ***/
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-200 dark:bg-slate-950 p-0 sm:p-8 md:p-12;
}

.scrollContainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}
